@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("../fonts/PlusJakartaSans-Regular.woff2") format("woff2"),
        url("../fonts/PlusJakartaSans-Regular.woff") format("woff");
}

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("../fonts/PlusJakartaSans-Bold.woff2") format("woff2"),
        url("../fonts/PlusJakartaSans-Bold.woff") format("woff");
    font-weight: bold;
}

body {
    font-family: "Plus Jakarta Sans";
}

.navbar {
    margin-top: 2%;
    margin-bottom: 3%;

    flex: 1;
    text-align: right;
}

#nav-logo {
    font-size: 1.375rem;
    text-decoration: none;
    margin-left: 10%;
}

.navbar a {
    color: black;
}

.navbar a:hover {
    color: grey;
}

.nav-links {
    margin-right: 10%;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    font-weight: bold;
    margin: 10px;
}

.hbg-menu {
    display: none;       
}

.nav-links a {
    text-decoration: none;
    font-size: 1.125rem;
}

@media only screen and (max-width: 700px) {
    .navbar ul {
        width: 100%;
        position: absolute;
        background-color: white;
        top: 75px;
        right: 0;
        z-index: 2;
    }

    .nav-links ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .hbg-menu {
        display: block;
        height: 30px;
    }

    #menu-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 0px;
        overflow: hidden;
        transition: 0.5s;
        padding: 0px;
    }
}

#pp {
    height: 150px;
    width: auto;
}

.white-section {
    background-color: white;
}

.blue-section {
    background-color: #f9fafc;
    padding-bottom: 200px;
}

.intro {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 30px;
    margin-bottom: 50px;
    
    opacity: 0;
    -webkit-transform: translate(0,50px);
    -moz-transform: translate(0,50px);
    -ms-transform: translate(0,50px);
    transform: translate(0,50px);
    -webkit-transition: opacity 1.0s .3s,transform 1.0s ease;
    transition: opacity 1.0s .3s,transform 1.0s ease;
    transition-delay: 50ms;
}

.intro-after-fade {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 30px;
    margin-bottom: 50px;

    opacity: 1!important;
    -webkit-transform: translate(0,0)!important;
    -moz-transform: translate(0,0)!important;
    -ms-transform: translate(0,0)!important;
    transform: translate(0,0)!important;
}

#intro-text {
    text-align: center;
    margin-top: 30px;
}

#intro-text h1 {
    font-size: 4.375rem;
}

#intro-text h5 {
    font-size: 1.5625rem;
}

.resume-button {
    background-color: rgb(36, 36, 36);
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 50px;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.resume-button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.resume-button p {
    color: white;
    font-weight: bold;
    margin: 0;
}

.resume-button:hover {
    background-color: rgb(77, 77, 77);
}

@media only screen and (max-width: 700px) {
    .intro {
        margin-left: 5%;
        margin-right: 5%;
    }

    .intro-after-fade {
        margin-left: 5%;
        margin-right: 5%;
    }

    #intro-text h1 {
        font-size: 2rem;
    }

    #intro-text h5 {
        font-size: 1.3rem;
    }
}

.section-header h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.fade {    
    opacity: 0;
    -webkit-transform: translate(0,50px);
    -moz-transform: translate(0,50px);
    -ms-transform: translate(0,50px);
    transform: translate(0,50px);
    -webkit-transition: opacity 1.0s .3s,transform 1.0s ease;
    transition: opacity 1.0s .3s,transform 1.0s ease;
    transition-delay: 150ms;
}

.after-fade {
    opacity: 1!important;
    -webkit-transform: translate(0,0)!important;
    -moz-transform: translate(0,0)!important;
    -ms-transform: translate(0,0)!important;
    transform: translate(0,0)!important;
}

.info-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0px 3px 0 rgba(0,0,0,0.2);

    display: flex;
    flex-direction: row;
    position: sticky;

    margin-left: 10%;
    margin-right: 10%;

    margin-bottom: 50px;
}

.info-card-title {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    flex-basis: 40%;

    padding: 100px 50px 100px 50px;
}

.title-type {
    font-weight: bold;
    font-size: 1.2rem;
    color: purple;
}

.title-headings {
    font-size: 1.5rem;
    font-weight: bold;
}

.title-role {
    font-size: 1.3rem;
    font-weight: bold;
}

.title-date {
    font-size: 1.1rem;
}

.info-card-body {
    padding-left: 30px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    flex-basis: 60%;
    font-size: 1.2rem;

    background-color:rgb(216, 228, 255);
    border-radius: 5px;
}

.info-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* update for new look */
.info-card {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 30%;

    width: 30%;
}

.info-card-title {
    flex-basis: 100%;
    margin-left: 0px;
    margin-right: 0px;

    padding: 50px 25px 50px 25px;

    text-align: center;
}

.info-card-body {
    flex-basis: 100%;
    padding: 50px 25px 50px 25px;
}

@media only screen and (max-width: 700px) {
    .section-header h1 {
        font-size: 2rem;
    }

    .info-card {
        display: flex;
        flex-direction: column;

        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        position: initial;
    }

    .info-card-title {
        flex-basis: 100%;
        margin-left: 0px;
        margin-right: 0px;
        flex-basis: 40%;
    
        padding: 50px 25px 50px 25px;
    }

    .info-card-body {
        flex-basis: 100%;
        padding: 50px 25px 50px 25px;
    }
}

.sq-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0px 3px 0 rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    
    /* transition: 0.5s;
    will-change: transform; 
    transform: translate3d(0px, -10vh, 0px) scale3d(0.7, 0.7, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); 
    transform-style: preserve-3d; */
}

#sq-card-1 {
    top: 50px;
}

#sq-card-2 {
    top: 75px;
}

#sq-card-3 {
    top: 100px;
}

.card-wrapper {
    margin-top: 70px; margin-bottom: 70px;
    margin-left: 45px; margin-right: 45px;
}

.card-wrapper > p {
    /* margin-top: 50px; */
    text-align: center;
}

.grid {
    display: grid;
}

#card-grid {
    grid-gap: 70px;
    grid-template-rows: max-content;
    justify-content: center;
}

.card-container {
    margin-left: 35%;
    margin-right: 35%;
}

.card-logo {
    height: 50px;
}

.section-header {
    padding-top: 15vh;
    padding-bottom: 15vh;
    text-align: center;
}

.fade-card {    
    opacity: 0;
    -webkit-transform: translate(0,50px);
    -moz-transform: translate(0,50px);
    -ms-transform: translate(0,50px);
    transform: translate(0,50px);
    -webkit-transition: opacity 1.0s .3s,transform 1.0s ease;
    transition: opacity 1.0s .3s,transform 1.0s ease;
    transition-delay: 100ms;
}

.after-fade-card {
    opacity: 1!important;
    -webkit-transform: translate(0,0)!important;
    -moz-transform: translate(0,0)!important;
    -ms-transform: translate(0,0)!important;
    transform: translate(0,0)!important;
}

#portfolio {
    margin-left: 10%;
    margin-right: 10%;
}

#project-div {
    margin-left: 10%;
    margin-right: 10%;
}

.project-card {
    border-radius: 10px;
    background-color: rgb(36, 36, 36);
    color: white;
    box-shadow: 0 0px 3px 0 rgba(0,0,0,0.2);

    display: flex;
    flex-direction: row;
    align-items: center;

    border-color: transparent;
    border-radius: 0px;
    border-width: 0px;
}

.project-card-desc {
    margin-left: 5%;
    margin-right: 5%;
    flex-basis: 45%;
}

.project-card-img {
    border-radius: 10px;
    width: 100%;
}

.project-card-img-div {
    flex-basis: 55%;
    margin: 5%;
}

.card-title {
    font-weight: bold;
}

.project-type {
    margin-top: 5px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-bubble {
    background-color: rgb(36, 36, 36);
    border-style: solid;
    border-width: 1.5px;
    border-radius: 50px;

    padding: 5px 20px 5px 20px;
    margin: 0px 10px 10px 0px;

    font-size: .85rem;
}

.card-text b {
    color:rgb(76, 223, 228)
}

.bubble-react {
    color: rgb(170, 108, 228);
    border-color: rgb(170, 108, 228);
}

.bubble-UX {
    color: rgb(76, 223, 228);
    border-color: rgb(76, 223, 228);
}

.bubble-js {
    color: yellow;
    border-color: yellow;
}

.bubble-html-css{
    color: greenyellow;
    border-color: greenyellow;
}

.bubble-others {
    color: pink;
    border-color: pink;
}

.card-button {
    background-color: rgb(36, 36, 36);
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 50px;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-button:hover {
    border-color: rgb(36, 36, 36);
    border-width: 2px;

    background-color: white;
}

.card-button:hover a {
    color: black;
}

.card-button a {
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
}

.card-button p {
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
    margin: 0;
}

.card-button:hover p {
    color: black;
}

#final-project-card {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#first-project-card {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

@media only screen and (max-width: 700px) {

    #portfolio {
        margin-left: 5%;
        margin-right: 5%;
    }

    #project-div {
        margin-left: 0;
        margin-right: 0;
    }

    .odd-card {
        flex-direction: column-reverse;
    }

    .even-card {
        flex-direction: column;
    }

    .project-card {
        padding-bottom: 20px;
    }

    .project-card-img-div {
        margin: 0%;
    }

    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card-title {
        margin-top: 10px;
    }
}

#contact-desc {
    font-size: 1.5625rem;
    margin-left: 25%;
    margin-right: 25%;
}

#contact {
    padding-bottom: 50px;
}

.contact-bar {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 100px;
}

#top-contact-bar {
    margin-top: 30px;
    margin-bottom: 30px;
}

.contact-icon {
    height: 30px;
    margin-right: 10px;
}

.expand-icon {
    width: 30px;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
    white-space: nowrap;

    display: inline-flex;
    align-items: center;
    transition: 500ms;
}

.expand-icon:hover {
    width: 195px;
    margin-left: 20px;
    margin-right: 20px;
    opacity: 70%;
}

.expand-icon a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

@media only screen and (max-width: 700px) {
    #contact-desc {
        font-size: 1.3rem;
        margin-left: 5%;
        margin-right: 5%;
    }

    .expand-icon:hover {
        width: 30px;
        margin-left: 20px;
        margin-right: 20px;
        overflow: hidden;
        white-space: nowrap;    
    }
}

.footer {
    background-color: #e1ebf5;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
    
    display: flex;
    flex-direction: row;

    flex: 1;
    text-align: right;
}

.footer p {
    font-size: 15px;
    text-align: center;
    margin-bottom: 0;
}

.footer a {
    text-decoration: none;
    color: inherit;
}

.portfolio-headings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-left: 5%;
    margin-right: 5%;

    text-align: center;
}

.portfolio-title {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 50px;
}

.rounded-corners {
    border-radius: 10px;
    box-shadow: 0 0px 3px 0 rgba(0,0,0,0.2);
}

.portfolio-pic {
    width: 100%; 
}

.overflow-pic {
    width: 140%;
}

.portfolio-main-img {
    width: 65%;
}

.portfolio-body {
    margin-top: 75px;
    margin-left: 25%;
    margin-right: 25%;

    font-size: 1.1rem;
}

.portfolio-body h4 {
    margin-top: 40px;
}

.portfolio-body h5 {
    margin-top: 30px;
}

.portfolio-section-title {
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 20px;
}

.portfolio-subtitle {
    font-weight: bold;
    font-size: 1.3rem;
}

.center-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* credit: https://www.w3schools.com/howto/howto_js_scroll_indicator.asp */
.scroll-indicator {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
}
  
.progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
}

.progress-bar {
    height: 8px;
    background: #04AA6D;
    width: 0%;
}

.row-pics {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.bold-text {
    font-weight: bold;
}

/**https://www.h3xed.com/web-development/how-to-make-a-responsive-100-width-youtube-iframe-embed**/
.youtube-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tags {
    color: orange;
}

.portfolio-section-title b {
    color: rgb(80, 80, 255);
}

@media only screen and (max-width: 700px) {
    .portfolio-body {
        margin-left: 7%;
        margin-right: 7%;
    }

    .portfolio-main-img {
        width: 100%;
    }

    .overflow-pic {
        width: 100%;
    }
}

.lic-body {
    margin-top: 75px;
    margin-left: 25%;
    margin-right: 25%;

    font-size: 1.1rem;
}

.lic-body h1, h2, h3, h4, h5 {
    font-weight: bold;
}

.lic-body h3 {
    margin-top: 50px;
}

@media only screen and (max-width: 700px) {
    .lic-body {
        margin-left: 7%;
        margin-right: 7%;
    }
}